.grid-container {
	display: grid;
	grid-template-areas:
		'graph graph graph'
		'txt txt txt'
		'form form form'
		'donate donate donate'
		'newstitle newstitle newstitle'
		'newsI newsII newsIII'
		'aboutUs aboutUs aboutUs';
	/* This helps maintain consistency when scaling, by keeping all grid columns approximately 1/6 of the page in width */
	grid-gap: 9px;
	background-color: #3c8cc4;
	padding: 10px;
	margin: 0px;
}

.title {
	background-image: url("../images/covid.jpeg");
	background-size: 70px;
	background-repeat: repeat;
	background-attachment: fixed;
}

.title>h1 {
	text-align: center;
	font-size: 100px;
	padding: 0;
	margin: 10px;
}

.graph {
	grid-area: graph;
}

.txt {
	grid-area: txt;
}

.form {
	grid-area: form;
}

.donate {
	grid-area: donate;
}

.newstitle {
	grid-area: newstitle;
}

.newsI {
	grid-area: newsI;
}

.newsII {
	grid-area: newsII;
}

.newsIII {
	grid-area: newsIII;
}

.aboutUs {
	grid-area: aboutUs;
}

/* This styles what each area in the grid container will look like */
.grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 10px;
	font-size: 30px;
	margin: 0px;
}

/*This makes sure that paragraphs have no margins or padding (the grid areas already have margins and padding */
p {
	padding: 0px;
	margin: 0px;
}

/*This assigns a class to each grid-area, so HTML elements can be put within the areas */




body {
	font-family: 'Assistant', sans-serif;
	color: #3c8cc4;
}

input[type=text],
select {
	color: #3c8cc4;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #3c8cc4;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	width: 100%;
	background-color: #3c8cc4;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #3c9DD7;
}

div {
	color: #3c8cc4;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}



html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-size: 15px;
}

canvas {
	width:100%;
	height:100% !important;
}

textarea {
	background: url(../images/covidtransparent.png) center center repeat; /* This ruins default border */
	border: 1px solid #888; 
	font-family: Assistant;
	font-size: 20px;
	color: black;

}